body{
    background-image: url("mars.gif");
    background-size: cover;
}


#canvas1{
    background-color: rgb(255, 255, 255);
    border:5px ridge blue;
    height:50%;
    width:80%;
}

h1,h4,#h_3 {
    color: white !important;
}

#hr1{
    width:50%;
    border:5px double aqua;
}

#canvas2{
    background-color: rgb(255, 255, 255);
    border:5px ridge blue;
    height:50%;
    width:80%;
}